// Extensions
%headline {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: $serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

// Styles
html,
body {
  color: $black;
  font-family: $sansSerif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  line-height: 1.75;
  font-size: $baseFontSize;
}

p {
  margin-bottom: 1em;
}

h1 {
  @extend %headline;
  font-size: 2.25rem;
}
h2 {
  @extend %headline;
  font-size: 1.62671rem;
}
h3 {
  @extend %headline;
  font-size: 1.38316rem;
}
h4 {
  @extend %headline;
  font-size: 1rem;
}
h5 {
  @extend %headline;
  font-size: 0.85028rem;
}
h6 {
  @extend %headline;
  font-size: 0.78405rem;
}