.button-link {
  border-radius: 2px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  display: inline-block;
  font-weight: 800;
  line-height: 1;
  position: relative;
  text-decoration: none;
  transition: transform ease-out 0.25s, background-color 0.25s ease-out;

  &:after {
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.25s ease-out;
    width: 100%;
  }

  &:hover {
    transform: translateY(-2px);

    &:after {
      opacity: 1;
    }
  }

  &.primary {
    background-color: $brinkpink;
    color: $white;

    &:hover {
      background-color: darken($brinkpink, 5%);
    }
  }

  &.secondary {
    background-color: transparent;
    border: 2px solid $bluegem;
    border-radius: 2px;
    box-shadow: none;
    color: $bluegem;
    font-weight: normal;

    &:after {
      display: none;
    }
  }

  &.small {
    font-size: em(14px);
    font-weight: normal;
    padding: 1.15em 1.5em;
  }

  &.regular {
    font-size: em(16px);
    padding: 1em 1.25em;
    transition: all 0.25s ease-out;

    &:hover {
      background: $bluegem;
      color: $white;
      transform: none;
    }
  }

  &.large {
    font-size: em(20px);
    padding: 1.25em 1.75em;
  }

  &.has-arrow {
    svg {
      margin-left: 1em;
      transition: transform 0.25s ease-out;
    }

    &:hover {
      svg {
        transform: translateX(3px);
      }
    }
  }
}
