.service-tabs {
  &__tab-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 70%;

    li {
      border-bottom: 3px solid transparent;
      color: #999;
      display: inline-flex;
      padding: 0.25em 0.75em;
      transition: all 0.25s ease-out;

      &:hover {
        color: darken(#999, 25%);
        cursor: pointer;
      }

      &.service-tabs__tab--selected {
        border-bottom-color: $brinkpink;
        color: $brinkpink;
      }
    }
  }

  &__panel {
    background: $white;
    width: 100%;

    &--selected {
      > div {
        div:first-child {
          animation: fadeAndSlideIn 0.5s ease-out 0.1s forwards;
        }

        div:last-child {
          animation: fadeAndSlideIn 0.5s ease-out 0.3s forwards
        }
      }
    }

    > div {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: auto;
      min-height: em(575px);
      width: 70%;

      div:first-child {
        opacity: 0;
        width: 43%;

        h3 {
          color: $brinkpink;
          font-family: $sansSerif;
          font-size: em(18px);
          font-weight: 800;
          margin-bottom: em(15px);
        }

        p {
          color: $bluegem;
          font-size: em(18px);
          margin-bottom: em(25px);
        }
      }

      div:last-child {
        opacity: 0;
        text-align: right;
        width: 50%;

        img.drawing {
          height: auto;
          max-height: 450px;
          max-width: 100%;
        }
      }
    }
  }
}
