.work {
  background-color: $whiteish;
  padding: em(50px) 0 0;

  @include media(">=medium") {
    padding: em(100px) 0 0;
  }

  header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;

    @include media(">=medium") {
      flex-direction: row;
    }

    h2 {
      color: $bluegem;
      font-family: $sansSerif;
      font-size: em(18px);
      margin: 0 0 em(15px) 0;

      @include media(">=medium") {
        margin: 0;
      }
    }

    a {
      color: $brinkpink;
      font-size: em(16px);
      transition: all 0.25s ease-out;

      svg {
        margin-left: 0.5em;
        transition: transform 0.25s ease-out;
      }

      &:hover {
        color: $bluegem;
        transform: translateX(3px);

        svg {
          transform: translateX(3px);
        }
      }
    }
  }
}

.work-samples {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow-x: scroll;
  overflow-y: visible;
  padding: em(25px);
  width: auto;
  
  &::-webkit-scrollbar {
    display: none;
  }

  @include media(">=medium") {
    padding: em(50px);
  }

  > div {
    display: flex;
    flex: 0 0 auto;
    width: 85%;

    @include media(">medium") {
      width: 45%;
    }

    & + div {
      margin-left: 1.5em;
      
      @include media(">=medium") {
        margin-left: 2.5em;
      }
    }
  }

  .work-sample {
    display: flex;
    flex-direction: column;
    height: auto;

    h6 {
      color: #abaab3;
      font-family: $sansSerif;
      font-size: em(9px);
      font-weight: normal;
      letter-spacing: 2px;
      margin: em(50px) 0 em(15px);
      text-transform: uppercase;

      @include media(">=medium") {
        font-size: em(10px);
        margin: em(35px) 0 em(15px);
      }
    }

    h3 {
      color: $bluegem-darker;
      font-family: $sansSerif;
      font-size: em(16px);
      font-weight: 800;
      margin: 0;

      @include media(">=medium") {
        font-size: em(20px);
      }
    }

    &__image {
      box-shadow: 0 4px 15px rgba(0,0,0,0.15);
      line-height: 0; // hacky fix to prevent extra height
      position: relative;
      transition: transform 0.25s ease-out;

      &:after {
        box-shadow: 0 6px 20px rgba(0,0,0,0.2);
        content: "";
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.25s ease-out;
        width: 100%;
      }

      img {
        display: inline-flex;
        height: auto;
        max-width: 100%;
      }

      .overlay {
        background: rgba(0,0,0,0.5);
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        transition: opacity 0.25s ease-out;
        width: 100%;
      }

      .button-link {
        margin: auto;
      }
    }

    &:hover {
      .work-sample__image {
        transform: translateY(-3px);

        &:after {
          opacity: 1;
        }
      }

      .overlay {
        opacity: 1;
      }
    }
  }
}
