#footer {
  color: $white;
  display: flex;
  flex-direction: column-reverse;
  height: auto;

  @include media(">=medium") {
    flex-direction: row;
  }

  .footer__sidebar {
    background: #251f4d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2em 2em;
    align-items: flex-end;

    @include media(">=medium") {
      flex-direction: column;
      width: 20%;
      align-items: flex-start;
    }

    div:first-child {
      margin-top: 35px;

      @include media(">=medium") {
        margin-top: 100px;
      }

      h1 {
        color: $brinkpink;
        font-size: em(65px);
        margin-bottom: 0.32em;
      }
    }

    .copyright {
      p {
        color: #5e5980;
        font-size: em(11px);
        font-weight: 800;
        margin: 0;

        &:first-child {
          text-transform: uppercase;
        }
      }
    }

    ul li + li {
      margin-top: 0.4em;
    }
  }

  .footer__content {
    background-color: #120f26;

    @include media(">=medium") {
      width: 80%;
    }
  }

  .content__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px auto 14%;
    width: 80%;

    @include media(">=medium") {
      flex-direction: row;
      margin: 140px auto 14%;
    }

    div {
      margin: 0 0 1.5em;

      @include media(">=medium") {
        width: 25%;
        margin: 0;
      }

      &:first-child {
        a {
          display: inline-block;
          font-weight: 800;
          letter-spacing: 0.03em;
          position: relative;

          &:before {
            border-bottom: 2px solid #5e5980;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            width: 100%;
          }

          &:after {
            border-bottom: 2px solid $white;
            content: "";
            display: block;
            height: 2px;
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
          }

          &:hover {
            &:after {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }

  h4 {
    color: $brinkpink;
    font-size: em(22px);
  }

  p {
    font-size: em(15px);
  }

  a {
    color: $white;
    display: inline-block;
    overflow: hidden;
    position: relative;

    &:after {
      border-bottom: 2px solid $white;
      content: "";
      display: block;
      height: 2px;
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }

    &:hover:after {
      opacity: 1;
      transform: translateX(0);
    }
  }

  ul {
    font-size: em(15px);
  }
}
