#footer {
  color: $white;
  display: flex;
  flex-direction: row;
  height: auto;

  .footer__sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 2em 2em;
    width: 20%;
    background: #251F4D;
    justify-content: space-between;

    div:first-child {
      margin-top: 100px;

      h1 {
        font-size: em(65px);
        color: $brinkpink;
        margin-bottom: 0.32em;
      }
    }

    .copyright {
      p {
        font-size: em(11px);
        color: #5E5980;
        font-weight: 800;
        margin: 0;

        &:first-child {
          text-transform: uppercase;
        }
      }
    }

    ul li + li {
      margin-top: 0.4em;
    }
  }

  .footer__content {
    width: 80%;
    background-color: #120F26;
  }

  .content__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 140px auto 14%;
    width: 80%;

    div {
      width: 25%;

      &:first-child {
        a {
          display: inline-block;
          font-weight: 800;
          letter-spacing: 0.03em;
          position: relative;

          &:before {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            border-bottom: 2px solid #5E5980;
            position: absolute;
            bottom: 0;
          }

          &:after {
            content: "";
            display: block;
            height: 2px;
            border-bottom: 2px solid $white;
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
          }

          &:hover {
            &:after {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }

  h4 {
    color: $brinkpink;
    font-size: em(22px);
  }

  p {
    font-size: em(15px);
  }

  a {
    display: inline-block;
    color: $white;
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      display: block;
      height: 2px;
      border-bottom: 2px solid $white;
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
    }

    &:hover:after {
      opacity: 1;
      transform: translateX(0);
    }
  }

  ul {
    font-size: em(15px);
  }
}