// Main styles
body {
  background-color: $whiteish;
}

.home-main {
  background: darken($bluegem, 25%); /* fallback */
  background: linear-gradient(135deg, $bluegem 30%, darken($bluegem, 35%));
  display: flex;
  height: 100vh;
  width: 100%;
}

.is-loading {
  .hero {
    h1 span {
      opacity: 0;
      transform: translateX(0.25em);
    }

    &__links {
      opacity: 0;
      transform: translateY(1em);
    }
  }

  .scroll {
    opacity: 0;
  }
}

.hero {
  margin: auto;
  width: 75%;

  h1 {
    color: $white;
    font-size: 7vw;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.5em;

    span {
      display: inline-block;
      opacity: 1;
      transform: translateX(0);
      transition: opacity 0.35s ease-out, transform 0.35s ease-out;

      &:nth-of-type(1) {
        transition-delay: 0.5s;
      }

      &:nth-of-type(2) {
        transition-delay: 0.75s;
      }

      &:last-of-type {
        transition-delay: 1s;
      }
    }

    span.bold {
      color: $brinkpink;
      display: block;
      font-weight: 900;
    }
  }

  &__links {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.35s ease-out 1.25s;

    a:not(.button-link) {
      color: #9f96d6;
      line-height: 1;
      margin-left: 2em;
      overflow: hidden;
      transition: color 0.25s ease-out;

      &:hover {
        color: $brinkpink;

        svg {
          animation: 0.3s arrowSlide;
        }
      }

      svg {
        margin-left: 0.25em;
        position: relative;
        top: 1px;
        width: 0.65em !important;
      }
    }
  }
}

.scroll {
  animation: 2s infinite ease-in-out 4s scrollBounce;
  bottom: 1.5em;
  left: 50%;
  margin: 0 auto;
  opacity: 0.4;
  position: absolute;
  right: 50%;
  transform: translateY(0);
  transition: opacity 1s ease-out 2.25s;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

// About Section
.about {
  background: $bluegem-darker;
  display: flex;
  flex-direction: column;
  padding: em(100px) 0;
  position: relative;

  .button-link {
    display: flex;
    margin: 0 auto;
    top: calc(-100px - 23px);
    width: auto;
  }

  .content {
    margin: auto;
    width: 70%;
  }

  header {
    margin-bottom: em(100px);

    h1 {
      color: $white;
      font-family: $sansSerif;
      font-size: em(18px);
      font-weight: 800;
      margin-bottom: em(15px);
    }

    p {
      color: $brinkpink;
      font-family: $serif;
      font-size: em(40px);
      font-weight: 900;
      line-height: 1.25;

      span {
        color: $white;
      }
    }
  }

  h2 {
    color: $white;
    font-family: $sansSerif;
    font-size: em(18px);
    font-weight: 800;
    margin-bottom: em(15px);
  }

  p {
    color: #beb8e6;
    font-family: $sansSerif;
    font-size: em(18px);
    font-weight: 600;
  }

  a:not(.button-link) {
    color: $brinkpink;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    padding-bottom: 1px; // prevents clipping of descenders... hacky
    transition: color 0.25s ease-out;

    &:hover {
      color: $white;

      svg {
        animation: arrowSlide 0.3s;
      }
    }

    svg {
      margin-left: 0.25em;
      position: relative;
      top: 1px;
      width: 0.65em !important;
    }
  }

  .grid {
    display: flex;
    flex-direction: column;
    margin: em(50px) 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      margin-bottom: em(35px);
      width: 47%;

      h3 {
        color: $brinkpink;
        font-family: $sansSerif;
        font-size: em(16px);
        font-weight: 800;
        margin-bottom: em(12px);

        span {
          font-family: sans-serif; // &trade; wasn't picking up $sansSerif definition for some reason
        }
      }

      p {
        color: #beb8e6;
        font-size: em(16px);
        font-weight: normal;
        line-height: 1.65;
      }
    }
  }
}

@include media(">=large") {
  // Emergence.js transitions
  *[data-emergence=hidden] {
    opacity: 0;
    transform: translateY(1em);
    transition: all 0.4s ease-out;
  }

  *[data-emergence=visible] {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s ease-out;
  }

  .grid .row {
    div:last-child[data-emergence=visible] {
      transition-delay: 0.3s;
    }
  }
}
