.home-main {
  display: flex;
  height: 100vh;
  width: 100%;
  background: darken($bluegem, 25%); /* fallback */
  background: linear-gradient(135deg, $bluegem 30%, darken($bluegem, 35%));
}

.hero {
  width: 70%;
  margin: auto;

  h1 {
    font-size: em(98px);
    color: $white;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0.5em;

    span {
      display: block;
      font-weight: 900;
      color: $brinkpink;
    }
  }

  &__links {
    display: inline-flex;
    align-items: center;
    width: 500px;
    justify-content: space-between;

    a:not(.button-link) {
      color: #9F96D6;
      transition: color 0.25s ease-out;

      &:hover {
        color: $brinkpink;
      }

      svg {
        width: 0.65em !important;
        margin-left: 0.25em;
        position: relative;
        top: 1px;
      }
    }
  }
}

.scroll {
  position: absolute;
  margin: 0 auto;
  bottom: 1.5em;
  left: 50%;
  right: 50%;
  opacity: 0.4;
  animation: 2s infinite ease-in-out 1.5s scrollBounce;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}