// Main styles
body,
.content-body {
  background-color: $whiteish;
}

.content-body {
  z-index: 2;
}

.home-main {
  position: relative;
  display: flex;
  height: 100vh;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: darken($bluegem, 25%); /* fallback */
    background: linear-gradient(140deg, darken($bluegem, 15%) 45%, darken($brinkpink, 5%));
    background-blend-mode: multiply;
    opacity: 0.9;
  }
}

.is-loading {
  .hero {
    h1 span {
      opacity: 0;
      transform: translateX(0.25em);
    }

    &__links {
      opacity: 0;
      transform: translateY(1.5em);
    }
  }

  .scroll {
    opacity: 0;
  }
}

.hero {
  margin: auto;
  margin-top: calc(80px + 10%);

  @include media(">=medium") {
    width: 70%;
  }

  @include media(">=xlarge") {
    width: 80%;
  }

  h1 {
    color: $white;
    font-size: 15vw;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: 0.5em;

    @include media(">=medium") {
      font-size: 7.75vw;
      margin-bottom: 0.5em;
      line-height: 1;
    }

    span {
      display: inline-block;
      opacity: 1;
      transform: translateX(0);
      transition: 
        opacity 1.5s cubic-bezier(0.23, 1, 0.32, 1),
        transform 1.5s cubic-bezier(0.23, 1, 0.32, 1)
      ;

      &:nth-of-type(1) {
        transition-delay: 0.5s;
      }

      &:nth-of-type(2) {
        transition-delay: 0.75s;
      }

      &:last-of-type {
        transition-delay: 1s;
      }
    }

    span.bold {
      color: $brinkpink;
      display: block;
      font-weight: 900;
    }
  }

  &__links {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    opacity: 1;
    transform: translateY(0);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1) 1.5s;
    flex-direction: column;
    align-items: flex-start;

    @include media(">=medium") {
      flex-direction: row;
    }

    a:not(.button-link) {
      @include media("<=medium") {
        display: none;
      }
      color: $whiteish;
      line-height: 1.1;
      overflow: hidden;
      transition: color 0.25s ease-out;
      margin-top: 1.5em;

      @include media(">=medium") {
        margin-left: 2em;
      }

      &:hover {
        color: $brinkpink;

        svg {
          animation: 0.3s arrowSlide;
        }
      }

      svg {
        margin-left: 0.25em;
        position: relative;
        top: 1px;
        width: 0.65em !important;
      }
    }
  }
}

.scroll {
  @include media("<=320px") {
    display: none;
  }
  display: block;
  position: relative;
  animation: 2s infinite ease-in-out 4s scrollBounce;
  bottom: 0.75em;
  margin: 0 auto;
  opacity: 0.9;
  transform: translateY(0);
  transition: opacity 1s ease-out 2.25s;

  @include media(">medium") {
    bottom: 1.5em;
  }
}

// About Section
.about {
  background: $bluegem-darker;
  display: flex;
  flex-direction: column;
  padding: em(25px) 0;
  position: relative;

  @include media(">=medium") {
    padding: em(100px) 0;
  }

  .button-link {
    display: flex;
    margin: 0 auto;
    top: calc(-25px - 23px);
    width: auto;
    
    @include media(">=medium") {
      top: calc(-100px - 23px);
    }
  }

  .content {
    margin: auto;
    width: 85%;

    @include media(">=medium") {
      width: 70%;
    }
  }

  header {
    margin-bottom: em(50px);

    @include media(">=medium") {
      margin-bottom: em(50px);
    }

    h1 {
      color: $white;
      font-family: $sansSerif;
      font-size: em(14px);
      font-weight: 800;
      margin-bottom: em(15px);

      @include media(">=medium") {
        font-size: em(18px);
      }
    }

    p {
      color: $brinkpink;
      font-family: $serif;
      font-size: em(22px);
      font-weight: 900;
      line-height: 1.4;

      @include media(">=medium") {
        font-size: em(40px);
        line-height: 1.25;
      }

      span {
        color: $white;
      }
    }
  }

  h2 {
    color: $white;
    font-family: $sansSerif;
    font-size: em(18px);
    font-weight: 800;
    margin-bottom: em(15px);
  }

  p {
    color: #beb8e6;
    font-family: $sansSerif;
    font-size: em(18px);
    font-weight: 600;
  }

  a:not(.button-link) {
    @include media("<medium") {
      display: none;
    }
    color: $brinkpink;
    display: inline-block;
    line-height: 1;
    overflow: hidden;
    padding-bottom: 1px; // prevents clipping of descenders... hacky
    transition: color 0.25s ease-out;

    &:hover {
      color: $white;

      svg {
        animation: arrowSlide 0.3s;
      }
    }

    svg {
      margin-left: 0.25em;
      position: relative;
      top: 1px;
      width: 0.65em !important;
    }
  }

  .grid {
    display: flex;
    flex-direction: column;
    margin: em(50px) 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      margin-bottom: em(35px);
      width: 47%;

      h3 {
        color: $brinkpink;
        font-family: $sansSerif;
        font-size: em(16px);
        font-weight: 800;
        margin-bottom: em(12px);

        span {
          font-family: sans-serif; // &trade; wasn't picking up $sansSerif definition for some reason
        }
      }

      p {
        color: #beb8e6;
        font-size: em(16px);
        font-weight: normal;
        line-height: 1.65;
      }
    }
  }
}

@include media(">=large") {
  // Emergence.js transitions
  *[data-emergence=hidden] {
    opacity: 0;
    transform: translateY(1em);
    transition: all 0.4s ease-out;
  }

  *[data-emergence=visible] {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s ease-out;
  }

  .grid .row {
    div:last-child[data-emergence=visible] {
      transition-delay: 0.3s;
    }
  }
}
