.is-loading {
  nav {
    opacity: 0;
    transform: translateY(-1em);
  }
}

nav {
  align-items: center;
  background: none;
  display: flex;
  justify-content: space-between;
  padding: em(15px) em(25px);
  position: absolute;
  top: 0;
  transition: all 0.5s ease-in-out;
  vertical-align: middle;
  width: 100vw;
  z-index: 2;

  .logo {
    z-index: 2;
  }

  &.sticky {
    background: $white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 99;
  }

  @include media("<medium") {
    ul.menu {
      position: fixed;
      width: 100vw;
      height: 100vh;
      padding: 35% em(30px) 0;
      left: 0;
      top: 0;
      background: $white;
      color: $white !important;
      z-index: 1;
      opacity: 0;
      transition: all 0.3s -0s;
      pointer-events: none;

      &.toggled {
        opacity: 1;
        pointer-events: initial;

        li {
          opacity: 1;
          transform: translateX(0);
        }
      }

      li {
        display: block;
        opacity: 0;
        transform: translateX(-2em);
        transition: all 0.2s cubic-bezier(0.23, 1, 0.85, 1) 0.2s;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transition-delay:(#{$i*0.05s});
          }
        }
      }

      li a {
        display: block;
        padding: 5%;
        text-align: center;
        font-size: 9vw;
        font-weight: 800;
        color: $brinkpink;
      }

      li:last-child a {
        background: $bluegem;
        border-radius: 4px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
        color: $white;
      }
    }
  }

  a.mobile-menu {
    display: block;
    transition-duration: 0.25s;
    padding: 0.325em;
    z-index: 2;

    &.toggled {
      ul.buns {
        li.bun {
          transform: rotate(45deg) translateZ(0);

          &:last-child {
            transform: rotate(-45deg) translateZ(0);
          }
        }
      }
    }
  }

  ul.buns {
    width: em(35px);
    height: em(35px);
    list-style: none;
    padding: 0;
    transition: transform 0.5s cubic-bezier(.23,1,.32,1);
    transform: translateZ(0);
    color: $brinkpink;

    li.bun {
      width: 100%;
      height: 3px;
      background-color: $brinkpink;
      position: absolute;
      top: 50%;
      margin-top: -1px;
      transform: translateY(-5px) translateZ(0);
      transition: transform 0.5s cubic-bezier(.23,1,.32,1);

      &:last-child {
        transform: translateY(5px) translateZ(0);
      }
    }
  }
} // end nav

@include media(">=medium") {
  nav {
    padding: em(40px) em(50px);

    a.mobile-menu {
      display: none;
    }

    ul.menu {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        vertical-align: middle;

        & + li {
          margin-left: 2em;
        }

        a {
          color: #fff;
          display: block;
          font-size: 16px;
          overflow: hidden;

          &:after {
            border-bottom: 2px solid $white;
            content: "";
            display: block;
            height: 2px;
            opacity: 0;
            transform: translateX(-100%);
            transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
          }

          &:hover:after {
            opacity: 0.5;
            transform: translateX(0);
          }
        }

        &:last-child a {
          border: 2px solid $brinkpink;
          border-radius: 2px;
          color: $brinkpink;
          padding: 0.35em 1em 0.4em;
          position: relative;
          transition: color 0.25s;
          z-index: 2;

          &:after {
            background: $brinkpink;
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1;
          }

          &:hover {
            color: $white;

            &:after {
              opacity: 1;
            }
          }
        }
      }
    }

    &.sticky {
      padding: em(25px) em(50px);

      ul.menu li a {
        color: $bluegem;
    
        &:after {
          border-color: $bluegem;
        }
      }
  
      ul.menu li:last-child a {
        background: $brinkpink;
        color: $white;
    
        &:hover {
          border-color: darken($brinkpink, 10%);
          color: $white;
        }
    
        &:after {
          background: darken($brinkpink, 10%);
        }
      }
    }
  }
}